option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_NAME: hireiq-db
    DB_USER: postgres
    DB_PASSWORD: VtpbrZ1LGxQfhnSlkyVk
    DB_HOST: hireiq-db.c3kceee8ynsk.ap-south-1.rds.amazonaws.com
    DB_PORT: "5432"
    DJANGO_SETTINGS_MODULE: core.settings.prod
    DJANGO_SECRET_KEY: eh(=gpzbf)9pz^jday3pz-t6a%c#mk(sr6_ipyyv!ms-cwz7l!